<<<<<<< HEAD
header {
  text-align: center;
  background-color: blue;
  height: 50px;
  font-size: 35px;
  font-family: "Rock Salt";
  color: white;
}

#user-input {
  width: 25%;
  margin-left: 25px;
  align-content: center;
}

#dronk-input {
  width: 25%;
  margin-top: 25px;
  align-content: center;
=======
.is-horizontal-center{
    justify-content: center;
}
header{
    text-align: center;
    background-color:lightpink;
    height: 50px;
    font-size: 35px;
    font-family: "Rock Salt";
}

#user-input{
    width: 25%;
    margin-left: 100px;
    
    
}

#dronk-input{
    width: 25%;
    margin-top: 25px; 
    
    
>>>>>>> f1e7b56e1398f2330b47ce1b493ea744d2d4d131
}

.card {
  background-color: lightblue;
  height: auto;
  width: 90%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  /* rick changed these things */
  padding: 20px;
  border: 2px solid darkblue;
  border-radius: 2px;
}

#meal-display {
  display: none;
}

<<<<<<< HEAD
#dronk-display {
  display: none;
}
=======
#dronk-display{
    display: none;
} 
>>>>>>> f1e7b56e1398f2330b47ce1b493ea744d2d4d131

/* MEAL */
#meal-title {
  text-align: center;
  font-size: 25px;
  /* rick */
  background-color: white;
  border-radius: 2px;
  color: darkblue;
}

#meal-prep {
  font-size: 20px;
  padding: 25px;
  /* rick */
  background: white;
  color: darkblue;
  border-radius: 2px;
}

#dronk-prep {
  font-size: 20px;
}

<<<<<<< HEAD
#meal-image {
  float: right;
  padding: 25px;
  /* rick */
  border-radius: 2px;
  height: 250px;
  width: 250px;
}
=======
/* #meal-image{
    float: right;
    height: 250px;
    width: 250px;
    padding: 25px;
} */
>>>>>>> f1e7b56e1398f2330b47ce1b493ea744d2d4d131

#food-lists {
  display: inline-block;
  padding: 20px;
  background: white;
  margin: 10px auto;
  border-radius: 2px;
}

<<<<<<< HEAD
#food-ingredients {
  display: inline-block;
  /* rick */
  background: white;
  color: darkblue;
  border-radius: 2px;
  padding: 10px 10px;
=======
#food-ingredients{
    display: inline-block;
    margin-left: 10px;
>>>>>>> f1e7b56e1398f2330b47ce1b493ea744d2d4d131
}

#food-measurements {
  display: inline-block;
  /* rick */
  background: white;
  color: darkblue;
  border-radius: 2px;
  padding: 10px 10px;
}

/* DRONK */
<<<<<<< HEAD
#dronk-image {
  float: left;
  height: 250px;
  width: 250px;
  padding: 25px;
}
=======
/* #dronk-image{
    float: left;
    height: auto;
    width: auto;
    padding: 25px;
    
    
} */
>>>>>>> f1e7b56e1398f2330b47ce1b493ea744d2d4d131

#dronk-title {
  text-align: center;
  font-size: 25px;
  background-color: lightsalmon;
}

<<<<<<< HEAD
#dronk-lists {
  display: inline-block;
  padding: 20ch;
}

#dronk-ingredients {
  display: inline-block;
}

#dronk-measurements {
  display: inline-block;
}
=======
 /* #dronk-lists{
    display: inline-block;
    padding: 0%;  
} */
#dronk-ingredients{
    display: inline-block  
    
}

#dronk-measurements{
    display: inline-block;
    
} 
>>>>>>> f1e7b56e1398f2330b47ce1b493ea744d2d4d131

/* FOOTER */
.content {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  height: auto;
  border-bottom: 20px;
}

/*Buttons*/
<<<<<<< HEAD
button {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px inset;
  box-align: center;
  /* rick */
  border-radius: 2px;
  color: blue;
=======
button{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px inset;  
    color: rgb(98, 53, 109);
    box-align: center;
>>>>>>> f1e7b56e1398f2330b47ce1b493ea744d2d4d131
}
